body {
    padding-top: 56px; /* Ajuste o espaço para o header fixo */
}

header, footer {
    background-color: #0d1117;
    color: white;
}

.nav-link {
    color: white !important;
}

.container {
    max-width: 800px;
}

footer {
    margin-top: 2rem;
}
